.banner {
//   padding: 10px;
//   border-bottom-left-radius: 200px 30px;
//   border-bottom-right-radius: 0px 30px;
    height: 100px;
    position: absolute;

}

.title{
    font-weight: 0px!important;
    font-style: initial!important;
}
