<ion-header class="ion-no-border d-block d-md-none d-lg-none d-xl-none banner ion-padding">
  <ion-toolbar>
    <h2 class="text-left mr-3"><strong> <i class="fa fa-qrcode text-danger" aria-hidden="true"></i> Scanner</strong></h2>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  class="ion-padding"
>
  <ion-grid class="bg-light rounded" fixed>
    <ion-row class="mt-1">
      <ion-col size="4">
        <div
          class="card text-center shadow-sm border-0"
          style="border-radius: 20px"
        >
          <div class="card-body">
            <i class="fa fa-history fa-2x text-danger" aria-hidden="true"></i>
            <p class="card-title">Historial</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div
          class="card text-center shadow-sm border-0"
          style="border-radius: 20px"
        >
          <div class="card-body">
            <i class="fa fa-share fa-2x text-danger" aria-hidden="true"></i>
            <p class="card-title">Exportar</p>
          </div>
        </div>
      </ion-col>

      <ion-col size="4">
        <div
          class="card text-center shadow-sm border-0"
          style="border-radius: 20px"
        >
          <div class="card-body">
            <i class="fa fa-share-alt fa-2x text-danger" aria-hidden="true"></i>
            <p class="card-title">Compartir</p>
          </div>
        </div>
      </ion-col>

      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
